@model IEnumerable<CryptoCurrency>

<div class="col-12">
	<table class="table">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Name</th>
				<th scope="col">Symbol</th>
				<th scope="col">Price</th>
				<th scope="col">Last 1h dynamics</th>
				<th scope="col">Last 24h dynamics</th>
				<th scope="col">Capitalization</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var currency in Model)
			{
				<tr>
					<th>
						<img src="https://s2.coinmarketcap.com/static/img/coins/32x32/@(currency.CurrencyID).png">
					</th>
					<th>@currency.Name</th>
					<th>@currency.Symbol</th>
					<th>@currency.Price</th>
					<th>@currency.Last1HourDynamics</th>
					<th>@currency.Last24HoursDynamics</th>
					<th>@currency.MarketCapitalization</th>
				</tr>
			}
		</tbody>
	</table>
</div>
